*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
}

.code_editor_light {
  border: 1px solid #eee;
}

.code_editor_dark {
  border: none;
}
